Python
pycache/
*.py[cod]
*.egg-info/
.venv/
venv/

PyInstaller
build/
dist/
*.spec

Logs
*.log
server_bridge_log.txt
smart_bridge_log.txt
bridge_log.txt

Local config
config.json

IDE
.vscode/
.idea/

OS
Thumbs.db
.DS_Store